#demo{
	margin:2px auto;
	padding:3px auto;
	box-shadow: 2px 4px 6px #000;
	width:50%;
	border-radius:5px;
}
body{
	margin:0;
	padding:0;
	background:#000400;	
	}
.hint{
	margin:auto;
	text-align:center;
	color:#e2ba3f;	
	}
.wenben{
	font-size:48px;
	font-family: "Georgia", "Times New Roman", serif;
	font-style:italic;
	}		
