@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background:#A0A0A4;
	}
img.logoimg{
	margin-top:-5px;
	}		
#world{
	width:100%;	
	}
.companyInfo{
	margin-top:50px;
	margin-bottom:70px;
	text-align:center;
	color:#e2ba3f;
	}
.info{
	margin-top:3px;
	margin-bottom:3px;
	font-family: "华文行楷";
	font-size:36px;
	font-style:italic;
	padding:0;	
	}	
.bottom{
	font-family:"华文行楷";
	color:#f2d680;		
	}
p.bottom{
	font-size: 20px;
}	
			