.wrap{margin:0px auto;}
.wrap-advan{
    width:80%;
    margin:250px auto;
    position:relative;

}
.wrap-pic{
    margin:10px 20px;
    border-style:solid;
    border-width:5px;
    border-color: #c1ba62;
}
.wrap-text{
    margin:5px;
}
.size-pic{
    width:400px;
    height:300px;
}
.navposi{

}
.pic-impt{
    margin:50px auto 30px auto;
    border-style:solid;
    border-width:5px;
    border-color: #c1ba62; //gold:e3b02f;black:bfa1aN;red:ba1121;
    height:300px;
}
.wrap-main-benefit{
    text-align: center;
}
.gradient{
    margin:30px auto 0 auto;
    text-align: center;
}
.main-benefit-text{
    position:relative;
}
.logoimg{
    margin-top: 6px;
}
.copy{
    float: left;
    width:50%;
    position:relative;
    margin-top: 20px;
    margin-left: 25%;
}
.copy div{
    position:absolute;
    text-align: center;
    opacity:0;
}
.copy div p{
    text-align: center;
}
.copy div.active{
    opacity:1;
}
#benefits{
    position:relative;
    padding-bottom: 200px;
}
#benefits ul{
    list-style: none;
    padding:0;
    margin:0;
}
#benefits li{
    float: left;
    width: 25%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}
#benefits li a{
    text-align: center;
    height:50%;
    max-width: 100%;
    display: block;
}
#benefits li a span{
    text-align: center;
    display:block;
}
#benefits li a span.icon{
    width:100%;
    height:40px;
    position:relative;
}
#benefits li a span img.img-icon{
    position:absolute;
    width:100%;
    height:100%;
}
#benefits li a span.text{
    position:relative;
    font-size:18px;
    width:100%;
}
#benefits .arrow{
    float:left;
    width:100%;
    margin-top: 30px;
    position:relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    height: 22px;
    background-repeat: repeat-x;
    background-size: 1200px 16px;
    background-image:url(pic/arrow-left.png);
}
.text-wrap{
    position:absolute;
}
